
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>faq.html</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
        <section>
            <h2>الأسئلة الشائعة</h2>
            <h3>كيف يمكنني حجز رحلة؟</h3>
            <p>ببساطة اختر الرحلة من صفحة الرحلات واتبع خطوات التسجيل والدفع.</p>
            <h3>هل يمكن التواصل مع المرشد؟</h3>
            <p>نعم بعد إتمام الحجز والدفع تظهر بيانات التواصل الخاصة.</p>
        </section>
    
</body>
</html>
