
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>المرشدين السياحيين</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>المرشدين المعتمدين</h1>
    <div class="guides">
        <div><img src="/static/images/guide1.jpg"><h3>محمد الحربي</h3></div>
        <div><img src="/static/images/guide2.jpg"><h3>سارة المالكي</h3></div>
        <div><img src="/static/images/guide3.jpg"><h3>عبدالله الزهراني</h3></div>
        <div><img src="/static/images/guide4.jpg"><h3>نوف القحطاني</h3></div>
        <div><img src="/static/images/guide5.jpg"><h3>فهد العتيبي</h3></div>
    </div>
</body>
</html>
